@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind screens;

@screen sm {
  .websitePadding {
    padding-left: 0;
    padding-right: 0;
  }
  .footerCredit {
    display: grid;
    grid-template-colums: 1fr;
  }
}
@screen lg {
  .websitePadding {
    padding-left: calc((100vw - 1344px) / 2) !important;
    padding-right: calc((100vw - 1344px) / 2) !important;
  }
  .footerCredit {
    clip-path: polygon(0 99%, 55% 100%, 50% 0, 0% 0%);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@screen 3xl {
  .websitePadding {
    padding-left: calc((100vw - 1600px) / 2) !important;
    padding-right: calc((100vw - 1600px) / 2) !important;
  }
}

h1 {
  @apply font-bold text-5xl py-6;
}
h2 {
  @apply font-bold text-4xl py-6;
}
h3 {
  @apply font-bold tracking-wider text-3xl;
}
h4 {
  @apply font-bold tracking-wider text-2xl;
}
h5 {
  font-family: 'Inter', sans-serif;
  @apply font-extrabold tracking-wider text-xl py-4;
}

p {
  @apply font-ptext;
}

form input[type="text"],
textarea {
  @apply p-2 rounded-lg;
}

body {
  @apply bg-white bg-opacity-20 items-center w-['1920px'] overflow-x-hidden;
}

.gradient {
  background: theme("colors.bg-black");
  background: linear-gradient(
    90deg,
    theme("colors.primary-color") 50%,
    theme("colors.bg-black") 50%
  );
}

.css-11cewt9[style]{
  @apply hidden;
}

@tailwind utilities;
